*,*:after, *:before{

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#contenedor_carga{

 background-color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 10000;

}

#carga{
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    position: absolute;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 250px;

    -webkit-animation:girar 2.5s linear infinite ;
    -o-animation: girar 2.5s linear infinite;
    animation: girar 2.5s linear infinite;
}

@keyframes girar{
    from{transform: rotate(0deg);}
    to{transform: rotate(180deg);}

}


.bg{
    background: url('../images/loginback.jpg')no-repeat;
    width: 100%;   
    height: 100%;
    background-size: 100% ;
   
    
}

.form-container{
    position:center;
    top:10vh;
   
   
    background:#fff;
    padding: 30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px rgb(37, 116, 30);
    
}

.naranja{
    color:#fc7323; 
    
    
}

.verde{
 
    color:#238276; 
    
    
}

.btn-verde{
    color:#fff;
    background-color:#238276;
    transition: 0.5s
}

.btn-verde:hover{
  background-color: #fc7323;
  color: #05747B ;
  border: 2px #59b548 solid 
}


.bordes{

position: center;

border-radius: 10px;
box-shadow: 0px 0px 20px 0px rgb(37, 116, 30);

}


.config{

background: url('../images/fondillo.jpg');
    height: 100%;
    background-size:100%;
   

}


    .bgverde {
 
    background-color:#238276; 
    
    
}

    .bgverdea {
 
    background-color:#59b548; 
    
    
}

 

  .bordes2{

    position: center;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 0px 0px 0px #59b548;
    
    }

   


      .bordes3{

        position: center;
        border-bottom-left-radius: 90px;
        box-shadow: 0px 10px 0px 0px #59b548;
        border-bottom-right-radius: 90px;
        }



        .fondo {
            position: fixed;
            z-index: 99999;
            bottom: 0;
            height: 100px;
            width: 100%;
            cursor: pointer;
        }

        .fondo > footer {
          background-color: rgba(0, 0, 0, 0.6);
          display: none;
          font-size: 15px;
          font-family: comic, sans-serif;
          font-weight: normal;
          color: #fff;
          height: 100%;
          line-height: 100px;
          margin: 0;
          text-align: center;
          border-top-right-radius:100px ;
          border-top-left-radius:100px ;
        }
        .fondo:hover {
            /*color:#000;*/
            margin-top: 15px;
        }
        .fondo:hover > footer {
          display: block;
          font-size: 15px;
          animation: fadein 1s;
          -moz-animation: fadein 1s; /* Firefox */
          -webkit-animation: fadein 1s; /* Safari and Chrome */
          -o-animation: fadein 1s; /* Opera */
        }
        @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-moz-keyframes fadein { /* Firefox */
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-webkit-keyframes fadein { /* Safari and Chrome */
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-o-keyframes fadein { /* Opera */
            from {
                opacity:0;
            }
            to {
                opacity: 1;
            }
        }