*,*:after, *:before{

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#contenedor_carga{

 background-color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 10000;

}

#carga{
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    position: absolute;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 350px;

    -webkit-animation:girar 2.5s linear infinite ;
    -o-animation: girar 2.5s linear infinite;
    animation: girar 2.5s linear infinite;
}

@keyframes girar{
    from{transform: rotate(0deg);}
    to{transform: rotate(180deg);}

}


.bg{
    background: url('../images/loginback.jpg');
    width: 100%;   

    background-size:auto;
   
    
}

.form-container{
    position:center;
    top:10vh;
   
   
    background:#fff;
    padding: 30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px rgb(37, 116, 30);
    
}

.naranja{
    color:#fc7323; 
    
    
}

.verde{
 
    color:#238276; 
    
    
}

.btn-verde{
    color:#fff;
    background-color:#238276;
    transition: 0.5s
}

.btn-verde:hover{
  background-color: #fc7323;
  color: #05747B ;
  border: 2px #59b548 solid 
}


.bordes{

position: center;

border-radius: 10px;
box-shadow: 0px 0px 20px 0px rgb(37, 116, 30);

}


.config{

background: url('../images/fondillo.jpg');
    height: 100%;
    background-size:100%;
   

}

/* .footer {
   
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #05747B;
    color: white;
    text-align: center;
  } */

    .bgverde {
 
    background-color:#238276; 
    
    
}

    .bgverdea {
 
    background-color:#59b548; 
    
    
}


footer {
    position: absolute;
    width: 100%;
    height: 12%;
    right: 0;
    bottom: 0;
    left: 0;
    color: #000000;
    background-color: #59b548;
    clear: both;
    opacity: 0.8;
  }